
.idea/.idea.MixedRealityAssistProject.dir/.idea/

MRAP/Library/

MRAP/ProjectSettings/

MRAP/UserSettings/

MRAP/Temp/

*.sln

MRAP/Logs/

MRAP/.vsconfig

*.csproj

MRAP/.idea/.idea.MRAP/.idea/

MRAP/obj/Debug/

MRAP/Build/
